/* stylelint-disable */
/* ---------------------------------------------
Table of contents
------------------------------------------------
01. font & reset css
02. reset
03. global styles
04. header
05. welcome
06. features
07. team
08. pricing
09. blog
10. footer
11. pages
12. faq
13. aside
14. contact
15. preloader

--------------------------------------------- */
/* 
---------------------------------------------
font & reset css
--------------------------------------------- 
*/
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&subset=latin-ext");
/* 
---------------------------------------------
reset
--------------------------------------------- 
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header, nav, section, article, aside, footer, hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  background-color: #fff;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-bottom: 0px;
}

/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/
html,
body {
  background: #fff;
  color: #6F8BA4;
  font-family: "Nunito", sans-serif;
}

::selection {
  background: #169CB1;
  color: #fff;
}

::-moz-selection {
  background: #169CB1;
  color: #fff;
}

.section {
  padding-top: 100px;
  padding-bottom: 70px;
}

.section.colored {
  background: #F7FAFD;
}

.left-heading.light .section-title {
  color: #ffffff;
}

.left-heading .section-title {
  font-weight: 400;
  font-size: 28px;
  color: #3B566E;
  letter-spacing: 1.75px;
  height: 45px;
  margin-bottom: 30px;
  position: relative;
}

.left-heading .section-title:before {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 19px;
  height: 2px;
  background: #169CB1;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

.left-heading .section-title:after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 20px;
  width: 9px;
  height: 2px;
  background: #169CB1;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

.center-heading {
  text-align: center;
}

.center-heading .section-title {
  font-weight: 400;
  font-size: 28px;
  color: #3B566E;
  letter-spacing: 1.75px;
  line-height: 38px;
  margin-bottom: 20px;
}

.center-heading.colored .section-title {
  color: #ffffff;
}

.center-text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #6F8BA4;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 50px;
}

.center-text.colored {
  color: #FFF7F5;
}

.center-text p {
  margin-bottom: 30px;
}

.left-text {
  font-weight: 400;
  font-size: 16px;
  color: #6F8BA4;
  line-height: 28px;
  letter-spacing: 1px;
}

.left-text.light {
  color: #FFF7F5;
}

.left-text p {
  margin-bottom: 30px;
}

.left-text p.dark {
  color: #3B566E;
}

.padding-bottom-top-60 {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

.padding-bottom-10 {
  padding-bottom: 10px !important;
}

.padding-bottom-80 {
  padding-bottom: 80px !important;
}

.padding-bottom-90 {
  padding-bottom: 90px !important;
}

.border-bottom {
  border-bottom: 1px solid #F5F5F5 !important;
}

.align-self-center {
  -ms-flex-item-align: center !important;
  align-self: center !important;
}

.align-self-bottom {
  -ms-flex-item-align: flex-end !important;
  align-self: flex-end !important;
}

.btn-primary-line {
  width: 160px;
  margin: auto;
  display: inline-block;
  height: 44px;
  line-height: 45px;
  text-align: center;
  box-shadow: 0 4px 5px 0 rgba(51, 61, 73, 0.24);
  border: none;
  border-radius: 15px 100px 100px 15px;
  background-image: linear-gradient(135deg, #0C869A 0%, #23B8CF 100%);
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  -webkit-transition: background 1s ease-out;
  -moz-transition: background 1s ease-out;
  -o-transition: background 1s ease-out;
  transition: background 1s ease-out;
  outline: none !important;
  cursor: pointer;
  position: relative;
}

.btn-primary-line:hover {
  background-image: linear-gradient(-135deg, #0C869A 0%, #23B8CF 100%);
  color: #fff;
}

.btn-white-line {
  width: 160px;
  margin: auto;
  display: inline-block;
  height: 44px;
  line-height: 45px;
  text-align: center;
  border-radius: 15px 100px 100px 15px;
  background: #fff;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 12px;
  color: #169CB1;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  outline: none !important;
  cursor: pointer;
  position: relative;
}

.btn-white-line:hover {
  background: #E2FBFF;
}

.btn-home {
  width: 100%;
  margin: auto;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  border-radius: 15px 100px 100px 15px;
  background: #fff;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.88px;
  outline: none !important;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.btn-home:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: linear-gradient(-135deg, #0C869A 0%, #23B8CF 100%);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
}

.btn-home i {
  margin-left: 30px;
  margin-right: 10px;
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #3B566E;
}

.btn-home span {
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #3B566E;
}

.btn-home:hover, .btn-home.active {
  box-shadow: 0 4px 5px 0 rgba(51, 61, 73, 0.24);
}

.btn-home:hover i, .btn-home.active i {
  color: #fff;
  margin-left: 40px;
}

.btn-home:hover span, .btn-home.active span {
  color: #fff;
}

.btn-home:hover:before, .btn-home.active:before {
  opacity: 1;
}

.padding-bottom-0 {
  padding-bottom: 0px;
}

.padding-top-80 {
  padding-top: 80px !important;
}

.margin-bottom-0 {
  margin-bottom: 0px !important;
}

.margin-bottom-30 {
  margin-bottom: 30px !important;
}

.margin-top-30 {
  margin-top: 30px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.margin-bottom-60 {
  margin-bottom: 60px !important;
}

.margin-bottom-100 {
  margin-bottom: 100px !important;
}

blockquote {
  margin-bottom: 28px;
  padding: 30px;
  padding-top: 40px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #F4F8FB;
  overflow: hidden;
}

blockquote .text {
  position: relative;
  text-align: center;
}

blockquote .text p {
  position: relative;
  width: 100%;
  z-index: 2;
  margin-bottom: 10px !important;
}

blockquote .text:before {
  font-family: FontAwesome;
  content: "\f10d";
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  font-size: 40px;
  color: #e1ecf4;
}

blockquote .text:after {
  font-family: FontAwesome;
  content: "\f10e";
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  font-size: 40px;
  color: #e1ecf4;
}

blockquote .author {
  color: #3B566E;
  text-align: center;
}

.page-gallery {
  height: 185px;
  display: block;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 30px;
}

@media (max-width: 991px) {
  html, body {
    overflow-x: hidden;
  }
  .mobile-bottom-fix {
    margin-bottom: 30px;
  }
  .mobile-bottom-fix-big {
    margin-bottom: 60px;
  }
}

@media (max-width: 768px) {
  .page-gallery {
    height: 150px;
  }
  .btn-home {
    margin-bottom: 10px;
  }
}


/* 
---------------------------------------------
blog
--------------------------------------------- 
*/
.blog-post-thumb {
  text-align: center;
  margin-bottom: 30px;
}

.blog-post-thumb.big .img {
  height: 400px;
}

.blog-post-thumb .img {
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 25px;
  position: relative;
  height: 200px;
}

.blog-post-thumb .img .date {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 60px;
  background-image: linear-gradient(127deg, #0C869A 0%, #23B8CF 91%);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
}

.blog-post-thumb .img .date strong {
  display: block;
  color: #fff;
  height: 20px;
  line-height: 20px;
}

.blog-post-thumb .img .date span {
  display: block;
  color: #fff;
  height: 20px;
  line-height: 20px;
}

.blog-post-thumb h3 {
  margin-bottom: 10px !important;
}

.blog-post-thumb h3 a {
  font-weight: 400;
  font-size: 16px;
  color: #3B566E;
  letter-spacing: 1px;
  line-height: 26px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.blog-post-thumb h3 a:hover {
  color: #169CB1;
}

.blog-post-thumb .post-meta {
  overflow: hidden;
}

.blog-post-thumb .post-meta li {
  float: left;
  margin-right: 30px;
  height: 30px;
  line-height: 30px;
  color: #169CB1;
  font-size: 14px;
}

.blog-post-thumb .post-meta li a {
  color: #169CB1;
}

.blog-post-thumb .post-meta li span {
  display: inline-block;
  margin-right: 5px;
}

.blog-post-thumb .text {
  font-weight: 400;
  font-size: 14px;
  color: #6F8BA4;
  letter-spacing: 0.88px;
  line-height: 26px;
  margin-bottom: 15px;
}

.blog-post-thumb .text.post-detail {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: left;
}

.blog-post-thumb .post-footer {
  overflow: hidden;
  border-bottom: 1px solid #ECF7FF;
  border-top: 1px solid #ECF7FF;
  padding-top: 10px;
  padding-bottom: 10px;
}

.blog-post-thumb .post-footer span {
  float: left;
  height: 30px;
  line-height: 30px;
  font-weight: 300;
  font-size: 14px;
  color: #6F8BA4;
  padding-left: 30px;
}

.blog-post-thumb .post-footer ul.share {
  float: right;
  padding-right: 30px;
}

.blog-post-thumb .post-footer ul.share li {
  float: left;
  margin-left: 15px;
}

.blog-post-thumb .post-footer ul.share li a {
  display: block;
  height: 30px;
  line-height: 30px;
  color: #169CB1;
}

.blog-post-thumb .btn-primary-line {
  margin: auto;
}

.blog-list .blog-post-thumb {
  margin-bottom: 30px;
  text-align: left;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.blog-list .blog-post-thumb .img {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-top-left-radius: 5px !important;
  -webkit-border-top-right-radius: 5px !important;
  -moz-border-radius-topleft: 5px !important;
  -moz-border-radius-topright: 5px !important;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}

.blog-list .blog-post-thumb h3 {
  padding-left: 30px;
  padding-right: 30px;
}

.blog-list .blog-post-thumb .post-meta {
  padding-left: 30px;
  padding-right: 30px;
}

.blog-list .blog-post-thumb .text {
  padding-left: 30px;
  padding-right: 30px;
}

.blog-list .blog-post-thumb .btn-primary-line {
  float: left;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.section-comments {
  margin-bottom: 60px;
  background: #fff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 30px;
  padding-bottom: 0px;
  margin-top: 30px;
}

.section-comments ul {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

.section-comments ul li {
  overflow: hidden;
}

.section-comments ul li .avatar {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  overflow: hidden;
  float: left;
  margin-right: 20px;
}

.section-comments ul li .comment-content {
  font-weight: 400;
  font-size: 14px;
  color: #6F8BA4;
  float: left;
  width: calc(100% - 90px);
  width: -webkit-calc(100% - 90px);
}

.section-comments ul li .comment-content .comment-by {
  margin-bottom: 10px;
  position: relative;
}

.section-comments ul li .comment-content .comment-by strong {
  display: block;
  color: #3B566E;
}

.section-comments ul li .comment-content .comment-by span {
  font-size: 12px;
}

.section-comments ul li .comment-content .comment-by .btn-reply {
  position: absolute;
  right: 0px;
  top: 15px;
  background: #F4F8FB;
  color: #6F8BA4;
  height: 25px;
  line-height: 25px;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.section-comments ul li .comment-content .comment-by .btn-reply i {
  font-size: 12px;
}

.section-comments ul li .comment-content .comment-by .btn-reply:hover {
  background: #169CB1;
  color: #fff;
}

.section-comments ul li ul {
  padding-left: 30px;
}

.post-comment {
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 30px;
  padding-bottom: 0px;
  margin-bottom: 30px;
}

.post-comment .comment-form .form-item {
  margin-bottom: 20px;
}

.post-comment .comment-form .form-item label {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 0px;
}

.post-comment .comment-form .form-item input, .post-comment .comment-form .form-item textarea {
  border: 1px solid #eee;
  width: 100%;
  height: 40px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.post-comment .comment-form .form-item input:focus, .post-comment .comment-form .form-item textarea:focus {
  border: 1px solid #169CB1;
}

.post-comment .comment-form .form-item textarea {
  height: 150px;
  resize: none;
  padding: 20px;
}

.pagination {
  margin-bottom: 30px;
  margin-top: 30px;
}

.pagination .page-item a {
  font-size: 14px;
  color: #169CB1;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.pagination .page-item a:hover {
  background: #F4F8FB;
}

@media (max-width: 991px) {
  .blog-post-thumb.big .img {
    height: 350px;
  }
}

@media (max-width: 420px) {
  .blog-post-thumb.big .img {
    height: 200px;
  }
}

/* 
---------------------------------------------
pages
--------------------------------------------- 
*/
.page {
  background: #fff;

  .page-content {
    padding-top: 100px;
    padding-bottom: 70px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.88px;
    line-height: 28px;
    color: #6F8BA4;
    background: #F9FAFF;

    p {
      margin-bottom: 28px;
    }
  }
}

.page .page-bottom .features-small-item {
  margin-bottom: 60px;
}

.page .page-bottom .features-small-item p {
  margin-bottom: 20px !important;
}

.page .page-bottom .page-detail .about {
  margin-bottom: 30px !important;
}

.page .page-bottom .page-detail .about .about-image {
  border-radius: 30px 5px 30px 30px;
}

.page .page-bottom .page-detail .about .about-image:before {
  display: none;
}

.page .page-bottom .page-detail .about .about-text {
  border-radius: 30px 5px 30px 30px;
}

@media (max-width: 991px) {
  .page .cover {
    margin-top: 80px;
  }
  .page .cover h1 {
    font-size: 26px !important;
    line-height: 36px !important;
    height: auto !important;
    padding-bottom: 15px;
  }
  .page .cover .page-top {
    text-align: center;
  }
  .page .cover .page-top .breadcrumb {
    float: none;
    text-align: center;
  }
  .page .cover .page-top .breadcrumb li {
    display: inline;
  }
  .page .page-bottom .about .about-image {
    height: auto;
  }
  .page .page-bottom .about .about-image .img-1 {
    position: relative;
    margin-bottom: 30px;
  }
  .page .page-bottom .about .about-image .img-2 {
    position: relative;
  }
}

/* 
---------------------------------------------
faq
--------------------------------------------- 
*/
.faq {
  background: #FFFFFF;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  margin-bottom: 30px;
}

.faq .card {
  border: none;
  background: none;
  border-bottom: 1px solid #E2FBFF;
}

.faq .card .card-header {
  padding: 0px;
  border: none;
  background: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.faq .card .card-header:hover {
  background: #E2FBFF;
  padding-left: 10px;
}

.faq .card .card-header .faq-title {
  width: 100%;
  text-align: left;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  color: #3B566E;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
}

.faq .card .card-header .faq-title .badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 14px;
  float: left;
  border-radius: 100px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  background: #169CB1;
  color: #fff;
  font-size: 12px;
  margin-right: 20px;
}

.faq .card .card-body {
  padding: 30px;
  padding-left: 35px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #6F8BA4;
  line-height: 28px;
  letter-spacing: 1px;
  border-top: 1px solid #F3F8FF;
}

.faq .card .card-body p {
  margin-bottom: 14px;
}

@media (max-width: 991px) {
  .faq {
    margin-bottom: 30px;
  }
  .faq .card .card-header .faq-title {
    line-height: 26px;
    margin-top: 10px;
  }
}

/* 
---------------------------------------------
aside
--------------------------------------------- 
*/
aside.default-aside {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

aside.default-aside .sidebar ul {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 30px;
}

aside.default-aside .sidebar ul li.active a {
  background-image: linear-gradient(135deg, #0C869A 0%, #23B8CF 100%);
  color: #fff;
}

aside.default-aside .sidebar ul li.active a:after {
  color: #fff;
}

aside.default-aside .sidebar ul li.active a:hover {
  padding-left: 60px;
}

aside.default-aside .sidebar ul li:last-child a {
  border: none;
}

aside.default-aside .sidebar ul li a {
  display: block;
  border-bottom: 1px solid #ECF7FF;
  height: 59px;
  line-height: 59px;
  padding-left: 59px;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  color: #3B566E;
  letter-spacing: 0.88px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
}

aside.default-aside .sidebar ul li a:hover {
  padding-left: 70px;
}

aside.default-aside .sidebar ul li a:after {
  font-family: FontAwesome;
  content: "\f105";
  position: absolute;
  left: 30px;
  color: #3B566E;
}

aside.default-aside .sidebar ul li a span {
  float: right;
  margin-right: 30px;
  display: inline-block;
  background: #169CB1;
  height: 20px;
  line-height: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 10px;
  color: #fff;
  margin-top: 18px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

aside.default-aside .sidebar .box {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  height: 230px;
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}

aside.default-aside .sidebar .box:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(135deg, #0C869A 0%, #23B8CF 100%);
  z-index: 2;
  left: 0px;
  top: 0px;
  opacity: .85;
}

aside.default-aside .sidebar .box .hovered {
  position: absolute;
  z-index: 3;
  padding-left: 30px;
  padding-right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

aside.default-aside .sidebar .box .hovered p {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 1.12px;
  margin-bottom: 30px;
}

aside.default-aside .sidebar .box .hovered a {
  height: 36px;
  line-height: 36px;
  margin-bottom: 0px;
}

aside.default-aside .sidebar .search-widget {
  display: block;
  margin-bottom: 30px;
  height: 50px;
  position: relative;
}

aside.default-aside .sidebar .search-widget input {
  border: 1px solid #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  outline: none;
  padding-left: 20px;
  padding-right: 50px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 15px 100px 100px 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
}

aside.default-aside .sidebar .search-widget input:focus {
  border: 1px solid #169CB1;
  padding-left: 30px;
}

aside.default-aside .sidebar .search-widget button {
  position: absolute;
  z-index: 2;
  right: 0px;
  top: 0px;
  height: 50px;
  width: 63px;
  border: none;
  background-image: linear-gradient(127deg, #0C869A 0%, #23B8CF 91%);
  border-radius: 0px 100px 100px 0px;
  outline: none;
  cursor: pointer;
  text-align: center;
  padding: 0px;
}

aside.default-aside .sidebar .search-widget button i {
  color: #fff;
}

aside.default-aside .sidebar .widget-tags {
  padding: 30px;
  padding-bottom: 20px;
  overflow: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 30px;
}

aside.default-aside .sidebar .widget-tags a {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  background: #f5f5f5;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 400;
  font-size: 14px;
  color: #3B566E;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

aside.default-aside .sidebar .widget-tags a:hover {
  background: #169CB1;
  color: #fff;
}

/* 
---------------------------------------------
contact
--------------------------------------------- 
*/
.contact {
  float: left;
  width: 100%;
  position: relative;
}

.contact .map-wrapper {
  position: relative;
  width: 100%;
  height: 500px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  z-index: 1;
}

.contact .map-wrapper .map-canvas {
  width: 100%;
  height: 100%;
}

.contact .contact-info {
  position: relative;
  z-index: 2;
  width: 90%;
  margin-left: 5%;
  margin-top: -60px;
  background-image: linear-gradient(135deg, #0C869A 0%, #23B8CF 100%);
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  border-radius: 15px 100px 100px 15px;
  padding: 30px;
  padding-bottom: 30px;
}

.contact .contact-info .item {
  overflow: hidden;
  color: #fff;
}

.contact .contact-info .item i {
  float: left;
  font-size: 16px;
  width: 20px;
  margin-right: 10px;
  margin-top: 5px;
}

.contact .contact-info .item span {
  float: left;
  width: calc(100% - 30px);
  width: -webkit-calc(100% - 30px);
  font-size: 14px;
}

.contact .contact-info .item span a {
  color: #fff;
}

.contact .contact-info .social {
  overflow: hidden;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.contact .contact-info .social li {
  display: inline;
  font-size: 22px;
  margin-right: 7px;
  margin-left: 7px;
}

.contact .contact-info .social li a {
  color: #fff;
}

.contact-bottom {
  border-top: 1px solid #f5f5f5;
  margin-top: 60px;
  padding-top: 60px;
  margin-bottom: 30px;
}

.contact-bottom .contact-text {
  font-weight: 400;
  font-size: 14px;
  color: #6F8BA4;
  letter-spacing: 0.6px;
  line-height: 26px;
}

.contact-bottom .contact-text p {
  margin-bottom: 28px;
}

.contact-bottom .contact-form input, .contact-bottom .contact-form textarea {
  border: 1px solid #eee;
  width: 100%;
  height: 50px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 30px;
}

.contact-bottom .contact-form input:focus, .contact-bottom .contact-form textarea:focus {
  border: 1px solid #169CB1;
  padding-left: 30px;
}

.contact-bottom .contact-form textarea {
  height: 150px;
  resize: none;
  padding: 20px;
}

.contact-bottom .contact-form .btn-primary-line {
  margin-bottom: 0px !important;
}

@media (max-width: 991px) {
  .contact {
    overflow: initial !important;
    margin-bottom: 10px !important;
  }
  .contact .map-wrapper {
    width: 100% !important;
    height: 300px;
    margin-bottom: 30px;
  }
  .contact .contact-info {
    position: relative !important;
    width: 100% !important;
    margin-top: 10px !important;
    margin-left: 0px !important;
    transform: perspective(1px) translateY(0%) !important;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  }
  .contact-bottom {
    margin-top: 30px;
    padding-top: 30px;
  }
}

/* 
---------------------------------------------
preloader
--------------------------------------------- 
*/
#preloader {
  overflow: hidden;
  background-image: linear-gradient(135deg, #0C869A 0%, #23B8CF 100%);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 9999;
}

#preloader #loader {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
}

#preloader #loader #box {
  width: 50px;
  height: 50px;
  background: #fff;
  animation: animate .5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}

#preloader #loader #shadow {
  width: 50px;
  height: 5px;
  background: #000;
  opacity: 0.1;
  position: absolute;
  top: 59px;
  left: 0;
  border-radius: 50%;
  animation: shadow .5s linear infinite;
}

@keyframes loader {
  0% {
    left: -100px;
  }
  100% {
    left: 110%;
  }
}

@keyframes animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow {
  50% {
    transform: scale(1.2, 1);
  }
}
